.text{
    text-align: center;
    background-color: white;
    opacity:60%;
    margin: 20px;
    padding: 10px;
    border: 1px black solid;
    border-radius: 25px;

}

.textSelected{
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 1px black solid;
    border-radius: 25px;
    background-color: pink;

}

button{
    
    width:50%;
    padding: 10px;
    border: 1px black solid;
}

.pic0{
    height: 100%;
    width:100%;
    position: absolute;
    background: url("./1.jpg") no-repeat;
    background-size:cover;
}
.pic1{
    height: 100%;
    width:100%;
    position: absolute;
    background: url("./2.jpg") center no-repeat;
    background-size:cover;
}
.pic2{
    height: 100%;
    width:100%;
    position: absolute;
    background: url("./3.jpg") center no-repeat;
    background-size:cover;
}
.pic3{
    height: 100%;
    width:100%;
    position: absolute;
    background: url("./4.jpg") center no-repeat;
    background-size:cover;
}