.text{
    text-align: center;
    background-color: white;
    opacity:60%;
    margin: 20px;
    padding: 10px;
    border: 1px black solid;
    border-radius: 25px;

}

.textSelected{
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 1px black solid;
    border-radius: 25px;
    background-color: pink;

}

button{
    
    width:50%;
    padding: 10px;
    border: 1px black solid;
}

.pic{
    height: 100%;
    width:100%;
    background: no-repeat;
    background-size:cover;
    position: absolute;
   
}
